/* Introduccion */

.intro{
  height: 100vh;
  position: relative;
  color: #fff;
}

.intro .overlay-itro {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
  opacity: .9;
}

.intro .intro-title{
  color: #fff;
  font-weight: 600;
  font-size: 4rem;
}

.intro .intro-subtitle{
  font-size: 1.5rem;
  font-weight: 300;
}

.intro .intro-contenido{
    text-align: center;
    position: absolute;
}

.intro .text-slider-items{
  display:none;
}

.background-imagen{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

.display-table {
  width: 100%;
  height: 100%;
  display: table;
}

.table-cell{
  display:table-cell;
  vertical-align: middle;
}
