/* Scroll VER EFECTO DE SCROLL!!!! */
* {
  scroll-behavior: smooth;
}

/* General */
body{
  background: rgba(168, 182, 189, 0.199);
}
.box-shadow, .paralax-mf, .service-box, .work-box, .card-blog {
  box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}



/* ------------------------------------------------------ */

/* Introduccion */
.intro{
  height: 100vh;
  position: relative;
  color: #fff;
}

.intro .overlay-itro {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
  opacity: .9;
}

.intro .intro-title{
  color: #fff;
  font-weight: 600;
  font-size: 4rem;
}

.intro .intro-subtitle{
  font-size: 1.5rem;
  font-weight: 300;
}

.intro .intro-contenido{
    text-align: center;
    position: absolute;
}

.intro .text-slider-items{
  display:none;
}

.background-imagen{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

.display-table {
  width: 100%;
  height: 100%;
  display: table;
}

.table-cell{
  display:table-cell;
  vertical-align: middle;
}

/* Navigation */
.navigation{
  display: fixed;
}


/* About session-------------------------------- */

.about-mf .box-shadow-full{
  padding-top:4rem;
  padding-bottom:4rem;
}

.about-mf .about-img{
  margin-bottom: 2rem;
}

.about-letter{
    font-size: 20px;
}

.about-description{
  font-size: 1.1rem;
}


.skill-fondo{
  color: #4e4e4e;
}

.skill-titulo{
  font-weight: 600;
  font-size: 2rem;
}

.skill-mf .progress {
  background-color: #cde1f8;
  margin: .5rem 0 1.2rem 0;
  border-radius: 0;
  height: .7rem;
}

.skill-mf .progress .progress-bar {
  height: .7rem;
  background-color: #0078ff;
}




/* -------------------------------------------------- */

/* SECTIONS */
.sect-4{
  padding: 4rem 0;
}

.sect-pt4{
  padding-top:4rem ;
}

.sect-mt4 {
  margin-top: 4rem;
}



/* -------------------------------------------------- */

/* Titulos */
.title-box {
  margin-bottom: 4rem;
}

.title-box-2{
  margin-bottom: 1rem;
}

/*--/ Title s /--*/
.title-s {
  font-weight: 600;
  color: #1e1e1e;
  font-size: 1rem;
}

.title-a {
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
}


.title-left{
  font-size: 2rem;
  position: relative;
}

.subtitle-a {
  color: #4e4e4e;
  font-style: italic;
}

.line-mf {
  width: 85px;
  height: 5px;
  background-color: #0078ff;
  margin: 0 auto;
}


/* Box */
.box-shadow-full {
  padding: 3rem 1.25rem;
  position: relative;
  background-color: rgba(255, 255, 255, 0.384);
  margin-bottom: 3rem;
  z-index: 2;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px) {
  .box-shadow-full {
    padding: 3rem;
  }
}


/* Section services */

.service-box{
  background-color: #fff;
  padding: 2.5rem 1.3rem;
  border-radius: 1rem;
  margin-bottom: 3rem;
}

.service-box:hover .ico-circle{
  transition: all 500ms ease;
  color:#fff;
  background-color:#0078ff;
  box-shadow: 0 0 0 10px #cde1f8;
}

.service-box .service-ico{
  margin-bottom: 1rem;
  color: #1e1e1e;
}

.service-box .ico-circle {
  transition: all 500ms ease;
  font-size: 4rem;
}

.service-box .s-title {
  font-size: 1.4rem;
  text-transform: uppercase;
  text-align: center;
  padding: .4rem 0;
}


/*------/ Ico Circle /------*/
.ico-circle {
  height: 100px;
  width: 100px;
  font-size: 2rem;
  border-radius: 50%;
  line-height: 1.55;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 0 0 10px #9da2a8;
  display: block;
}


/* PORTAFOLIO SECTION */

.work-box{
  margin-bottom: 3rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: #fff;
  border-radius: 1rem;
}

.work-box:hover img{
  transform: scale(1.3);
}

.work-img{
  display: block;
  overflow: hidden;
}

.work-img img{
  width: 100%;
  height:100%;
  transition:all 1.5s;
}

.work-content{
  padding: 2rem 3% 1rem 4%;
}

.work-content .w-more{
  color:#4e4e4e;
  font-size: 1rem;
}

.work-content .w-like{
  font-size: 2.5rem;
  color: #0078ff;
  float: right;
}

.work-content .w-like a{
  color: #0078ff;
}

.w-title{
  font-size:1.2rem
}

.w-name-project{
  color: #0078ff;
}

/* End styles portafolio sections */


/* Contact */
.sect-contact{
  
}

.contact-mf {
  margin-top: 4rem;
}
@media (min-width: 767px) {
  .contact-mf .box-pl2 {
    margin-top: 3rem;
    padding-left: 0rem;
  }
}





/* End conctac section */

/* Footer styles */

footer{
  text-align: center;
  color:#fff;
  background:#0062d3;
}
.copyright-box{
  margin: 10px auto;
  width: 100%;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.back-to-up{
  display: block;
  text-align: right;
  color: #fff;
  
}

.icon-back-to-up{
  color:#fff
}

ion-icon {
  padding-top: 10px;
  color: #0062d3;
  font-size: 38px;
  
}

.icon-up{
  display: inline;
  position: absolute;
 
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  border-radius: 50%;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
  z-index: 11;
  
}


/* Animaciones */
@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}